header {
    background-image: linear-gradient(to right, #af43be, #fd8090);
}
header li a {
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 rgb(255, 205, 97);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
header li a:hover {
        box-shadow: inset 100px 0 0 0 rgb(255, 205, 97);
        color: white;
      }
body {
    background-image: linear-gradient(rgb(65, 5, 133), #396eb9);
}
.pg2 {
    background-color: rgb(255, 205, 97);
    margin: 0 -.25rem;
    padding: 0 .25rem;
}
#text {
    font-family: 'Nanum Myeongjo', serif;
    font-size:medium;
    color: whitesmoke;
    float: left;
    width: 100%;
    background-color: rgb(26, 28, 148, 0.5);
}
#images {
    float: left;
    width: 100%;
    color: whitesmoke;
    margin-left: 3.7%;
}
.earth30 {
    line-height: 1;
    margin-top: 2%;
}
.earth30 p{
    font-family: 'Inconsolata', monospace;
    text-align: center;
}
h3 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 205, 97);
    font-size: 300%;
    position: relative;
    text-align: center;
}
.ny30 {
    margin-top: 3%;
    width: 45%;
    margin: 0 1.5%;
    float: left;
    text-align: justify;
    margin-left: 3%;
    margin-bottom: 2%;
}
.singapore30 {
    width: 45%;
    float: right;
    margin: 0 1.5%;
    text-align: justify;
    margin-right: 3%;
}
h4, h5 {
    font-family: 'Staatliches', cursive;
    color: rgb(255, 205, 97);
    font-size: 180%;
    text-align: center;
}
.links {
    margin: 0 1.5%;
    width: 45%;
    float: right;
    margin-right: 3%;
}
h6 {
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    font-size: 100%;
    font-weight: lighter;
}
#fig1, #fig2{
    width: 45%;
    margin: 0 1.5%;
    float: left;
}
#fig1 img{
    width: 90%;
    height: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#fig2 img{
    width: 90%;
    height: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
figcaption {
    padding-left: 2%;
    font-family: 'Inconsolata', monospace;
    font-size: small;
    font-style: italic;
    text-align: left;
}
.links li a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 205, 97);
    align-items: center;
}
.links li a:hover{
    text-decoration: underline;
}
.links * {
    display: inline-block;
}
.quelle {
    margin-top: 0%;
}
